/* Write your CSS here */
.list-card {
  width: 300px;
  padding: 10px;

  border: 1px solid #b5b7c4;
  border-radius: 20px;

  margin: 10px;
}

.card3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.star-btn {
  border: none;
  outline: none;
  background-color: transparent;
}
.star-img {
  height: 30px;
  width: 30px;
}
